html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "TT Lakes", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #1b1c21;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  margin: 0;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

/*__________________________________SECTION - BRANDS________________________________*/

.title-container {
  padding: 16px;
  border-top: 1px solid #d9fff5;
  background-image: linear-gradient(to right, #f8f8f8 0%, #ffffff 98.61%);
}

.section-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-transform: uppercase;
}

.brands__container {
  padding: 16px 0 16px 16px;
  position: relative;
}

.brands__container::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 72px;
  right: 0;
  z-index: 2;
  background-image: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
}

.brands__item-container {
  box-sizing: border-box;
  padding: 0 16px;
  width: 240px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: white;
}

.button:hover {
  border-radius: 50%;
  box-shadow: 0 0 5px 0 red;
  transition: box-shadow 0.3s;
}

.button__img {
  width: 40px;
  height: 40px;
  display: block;
}

.hidden {
  display: none;
}

/*________________________PAGINATION________________________*/

.bullet--gap {
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.bullet--active {
  background-color: #8a8a8a;
  opacity: 1;
}
/*__________________________________________________________*/

@media (min-width: 768px) {
  .title-container {
    padding: 16px 24px;
  }

  .brands__container {
    padding: 24px 24px 34px 24px;
  }

  .brands__container::before {
    display: none;
  }

  .brands__list {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
    max-height: 160px;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
  }

  .brands__item {
    width: auto;
  }

  .brands__item-container {
    width: 224px;
  }

  .spoiler {
    display: block;
    padding-left: 32px;
    background-color: transparent;
    border: 0;
    background: url("../img/icon-arrow.svg") no-repeat 8px 50%;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid black;
  }

  .spoiler:hover {
    position: relative;
    top: 1px;
  }

  .spoiler--active {
    background: url("../img/icon-arrow-active.svg") no-repeat 8px 50%;
  }

  .brands__list--snow-all {
    max-height: 336px;
    transition: max-height 0.3s ease-in;
  }
}

@media (min-width: 1120px) {
  .title-container {
    padding: 16px 32px;
  }

  .brands__container {
    padding: 24px 32px 34px 32px;
  }

  .brands__list {
    column-gap: 32px;
  }

  .brands__item-container {
    width: 240px;
  }

  .brands__list--snow-all {
    max-height: 248px;
  }
}
